body{
    background-color: #545454;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}
header nav{
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
header nav a{
    font-weight: 550;
    padding-right: 10px;
}
header nav a:hover{
    color: #afafaf;
}
.logo{
    display: flex;
}
.logo img{
    height: 100px;
    margin-left: 40px;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
}