body{
    background-color: #545454;
    font-family: sans-serif;
    margin: 0;
}
body header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: white;
    height: 110px;
}
header nav{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
header nav a{
    font-weight: 550;
    padding-right: 10px;
}
header nav a:hover{
    color: #afafaf;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-left: 40px;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
}




.menu{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.menu a{
    padding-bottom: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    height: 80px;
}
.diseñado h1{
    display: flex;
    font-family: sans-serif;
    color: #3d3d3d;
    font-weight: 550;
    font-style: italic;
    font-size: medium;
    padding-left: 20px;
}
.iconos i{
    font-size: 30px;
    margin: 0 18px;
    align-self: center;
}
.iconos i:hover{
    color: rgb(84, 84, 252);
    transition: 400ms;
    cursor: pointer;
}