.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


body{
    background-color: #545454;
    font-family: sans-serif;
    margin: 0;
}
body header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: white;
    height: 110px;
}
header nav{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
header nav a{
    font-weight: 550;
    padding-right: 10px;
}
header nav a:hover{
    color: #afafaf;
}


@media screen and (max-width: 450px) {
    body header{
        flex-direction: column;
        height: 60%;
        padding-top: 5%;
    }
    .logo{
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
        margin-right: 0%;
    }
    .navegacion{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
        height: 10%;
    }
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 90%;
    margin-left: 40px;
}

@media screen and (max-width: 450px) {
    .logo img{
        width: 30%;
        height: auto;
    }
}

.menu{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.menu a{
    padding-bottom: 20px;
}
.menu a img{
    width:100%;
    height: auto;
}

@media screen and (max-width: 450px) {
    .menu a{
        width: 100%;
        height: auto;
        margin: 0;
    }
}





@media screen and (max-width: 450px){
    footer{
        width: 100%;
    }
    .diseñado{
        width: 40%;
    }  
}

/*@media screen and (max-width: 250px){
    footer{
        flex-direction: column;
    }
    .diseñado{
        width: 100%;
        margin: 0;
        font-size: small;
    }
    .iconos{
        width: 100%;
        margin: 0;
        height: auto;
        font-size: small;
    }
}*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    height: 80px;
}
.diseñado h1{
    display: flex;
    font-family: sans-serif;
    color: #3d3d3d;
    font-weight: 550;
    font-style: italic;
    font-size: medium;
    padding-left: 20px;
}
.iconos i{
    font-size: 200%;
    height: auto;
    margin: 0 18px;
    align-self: center;
}
.iconos i:hover{
    color: rgb(84, 84, 252);
    transition: 400ms;
    cursor: pointer;
}
